body {
    margin: 0;
    padding: 0;
}

* {
    font-family: roboto;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
 
 
/*
@font-face {
    font-family: myFirst, sans-serif;
    src: url(../fonts/RobotoCondensed-Regular.ttf);
    font-weight: normal;
}
*/
@font-face { 
 font-family: roboto;
 src: local('RobotoCondensed-Regular'),
 url(../fonts/RobotoCondensed-Regular.ttf) format('truetype'); 
} 

p {
    font-size: 28px;
    font-family: roboto;

}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    font-size: 0;
    clear: both;
    height: 0;
    pointer-events: none;
    opacity: 0;
}



.clearfix {
    display: block;
}

.container {
    background-color: #5fa7e5;
    /*    overflow: auto;*/
}

.box {
    background-color: indianred;
    width: 250px;
    height: 250px;
    margin: 5px;
    float: left;
}


.box2 {
    background-color: #5ccd6d;
    width: 250px;
    height: 250px;
    margin: 5px;
}
